<div>
  <div class="field mt-1">
    <input (keyup.enter)="addProductToSale()" id="codigo_barras" type="text" class="w-full" pInputText
      [formControl]="barCodeControl" placeholder="Ingrese el codigo de barras...">
  </div>
  <div class="field">
    <p-dataView #dv [value]="newSale!.productos" emptyMessage="Sin productos" scr>
      <ng-template pTemplate="list" let-products>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let item of products; let first = first">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4 border-top-1 surface-border">
              <img class="w-4 sm:w-9rem xl:w-5rem shadow-2 block xl:block mx-auto border-round"
                src="https://assets-global.website-files.com/619e8d2e8bd4838a9340a810/64c590c754d6bc13ebd90cbc_ai_product_photo_styles.webp" />
              <div
                class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                  <div class="text-2xl font-bold text-900">{{ item.nombre }} </div>
                  <div class="text1xl font-semibold">Precio unitario: {{ item.precio | currency }} </div>
                  <div class="text-1xl font-semibold">Unidades: x{{ item.cantidad }}</div>
                  <!-- add button to up and down unitys -->
                  <div class="flex gap-2 justify-content-center">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success"
                      (click)="addUnits(item.id_producto)"></button>
                    <button pButton pRipple icon="pi pi-minus" class="p-button-rounded p-button-danger"
                      (click)="decreaseUnits(item.id_producto)"></button>
                  </div>
                </div>
                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                  <span class="text-2xl font-semibold text-900">{{ '$' + item.precio * item.cantidad }}</span>
                </div>
              </div>
            </div>
          </div>

          @if (newSale!.productos.length > 0) {

          <div class="col-12">
            <div
              class="flex flex-column sm:flex-row justify-content-end align-items-center xl:align-items-start flex-1 border-top-1 surface-border pt-2">
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <span class="text-2xl font-semibold text-900">
                  Total: {{ totalSale | currency }}
                </span>
              </div>
            </div>
            <div
              class="flex flex-column sm:flex-row justify-content-center align-items-center xl:align-items-start flex-1 pt-2 ">
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <button pButton label="Pagar" class="p-button-success" (click)="showDialog()">
                </button>
              </div>
            </div>
          </div>
          }
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<p-dialog [(visible)]="showPayDialog" [style]="{ width: '450px' }" header="Pagar productos" [modal]="true"
  styleClass="p-fluid">

  <ng-template pTemplate="content">
    <span class="text-1xl font-semibold text-900">Total a pagar: {{ totalSale | currency }}</span>

    <div class="field mt-3">
      <label for="pago" class="text-1xl font-semibold text-800">Recibo:</label>
      <p-inputNumber [(ngModel)]="moneyReceived" id="pago" mode="currency" currency="MXN"
        locale="es-MX"></p-inputNumber>
    </div>

    <div class="field mt-3">
      <span class="text-1xl font-semibold text-800">Cambio: </span>
      @if (change < 0) { <span class="p-error">El dinero recibido es menor al total a pagar</span>
        }
        @else {
        <span>{{ change | currency }}</span>
        }

    </div>

    <button pButton label="Confirmar"></button>

  </ng-template>


</p-dialog>