<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" routerLink="./new"></button>
  </ng-template>
</p-toolbar>

<p-table #dt2 [value]="sales" [rows]="10" [paginator]="true" [globalFilterFields]="['fecha', 'productos', 'total']"
  [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} ventas en total"
  [showCurrentPageReport]="true">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" name="search" (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Search..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="fecha" style="min-width: 15rem">
        Fecha <p-sortIcon field="fecha"></p-sortIcon>
      </th>
      <th pSortableColumn="productos">
        Productos <p-sortIcon field="productos"></p-sortIcon>
      </th>
      <th pSortableColumn="total">
        Total <p-sortIcon field="total"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sales>
    <tr>
      <td>{{ sales.fecha }}</td>
      <td>
        <ul>
          @for(sale of sales; track sale.id) {
          <li>{{ sale.productos }}</li>
          }
        </ul>
      </td>
      <td>
        {{sales.total | currency}}
      </td>
    </tr>
  </ng-template>
</p-table>